
//
// VARIABLES
//

// Colors
$bg-dark: #090909;
$bg-base: #191919;
$bg-light: #242424;
$fg-dark: #242424;
$fg-base: #353535;
$fg-light: #434343; 
$font-dark: #606060;
$font-base: #808080;
$font-light: #ffffff; 
$black: #000000;
$white: #ffffff;


// Grays
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
