
//
// VARIABLES
//

// Colors
$bg_dark:    #090909;
$bg_base:    #191919;
$bg_light:   #242424;
$fg_dark:    #242424;
$fg_base:    #353535;
$fg_light:   #434343; 
$font_dark:  #606060;
$font_base:  #808080;
$font_light: #ffffff; 
$black:      #000000;
$white:      #ffffff;


// Grays
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
